body {
        margin: 0;
        padding: 0;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
        color: rgb(189, 6, 119);
}

h1 {
        text-transform: uppercase;
        font-size: 50px;
        text-align: center;
        color: rgb(245, 86, 184);
}

h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
}

.center {
        text-align: center;
}

span {
        color: rgb(189, 6, 119);
        font-weight: bold;
}

.flex {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
        align-content: space-between;
}

.container {
        height: 100vh;
        width: 90%;
        margin: 0 auto;
}

.container p {
        padding: 10px;
        margin: 0 50px 15px;
}

.card-section {
        height: 85vh;
}

.card-image {
        position: relative;
        width: 15%;
        height: 23%;
        border: solid 1px rgb(255, 189, 246);
        border-radius: 3px;
        cursor: pointer;
        transition: all .3s;
}

.card-image span,
.card-image-select span {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        text-align: right;
        padding-right: 10px;
        background: rgba(255, 189, 246, 0.281);
}

.card-image-select {
        background-color: rgba(0, 0, 0, 0.205);
        filter: grayscale(100%);
        width: 15%;
        height: 23%;
        border-radius: 3px;
        cursor: pointer;
        transition: all .3s;
}

.card-image:hover {
        transform: scale(1.1);
}

.card-player-select {
        text-align: center;
        width: 100%;
        height: 25vh;
}

.card-player-select img {
        height: 80%;
}

.npc{
        width: 70%;
}

.card-footer {
        text-align: center;
}

.btn {
        margin: 40px 0;
        width: 25%;
        padding: 15px 10px;
        background-image: radial-gradient(rgb(245, 86, 184), rgb(255, 189, 246));
        cursor: pointer;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
        border-radius: 100px;
        border: 1px solid transparent;
        transition: all .2s;
}

.btn:hover {
        border: 1px solid rgb(233, 87, 177);
}

.avatar-select {
	display: block;
	font-weight: 700;
	color: rgb(189, 6, 119);
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid rgba(233, 87, 177, 0.623);
	box-shadow: 0 1px 0 1px rgba(255, 189, 246, 0.418);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, rgba(255, 189, 246, 0.26) 0%,rgba(241, 31, 213, 0.274) 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

.avatar-select:hover {
	border-color: rgba(255, 217, 240, 0.979);
}
.avatar-select:focus {
	border-color: rgba(255, 217, 240, 0.979);
	box-shadow: 0 0 1px 5px rgba(233, 87, 177, 0.336);
	box-shadow: 0 0 0 5px -moz-mac-focusring;
	color: rgb(189, 6, 119);
	outline: none;
}
.avatar-select option {
	font-weight:normal;
}

.select-image {
        width: 100%;
        height: 50vh;
        text-align: center;
}

.select-image img {
        height: 90%;
        margin-top: 50px;
}
