<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <base href="<%- BASE_HREF %>">
    <title>TP1 - Guess Who ? - Animal Crossing version</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app"></div>
</body>

</html>
